.individualChannelMainDiv {
    flex: 1;
    overflow-y: scroll;
    background-color: white;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.messagesMainDiv {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messagesMainDiv p {
    margin: 0;
}

.individualMessageDiv {
    background-color: #FFFFFF;
    padding: 10px 10px;
}

.repliesDiv {
    margin-top: 10px;
}

.replyDiv {
    background-color: #F0F0F0;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
