.navigationUl {
  /* outline: red dotted thin; */
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding: 1rem 1rem;
  background-color: #4A154B;
  margin: 0;
  box-sizing: border-box;
}

.navigationUl li {
  list-style: none;
}

.navigationUl a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.profile-dropdown {
  /* outline: blue dotted thin; */
  position: absolute;
  right: 15px;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding: 1rem;
  z-index: 2;
  background-color: #f2f2f2;
  border-radius: 8px;
  width: 200px;
  font-size: 1.2rem;
}

/* not working */
.profile-dropdown li {
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* .profile-dropdown li:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
} */
/* end */


.profile-dropdown>*:not(:last-child) {
  margin-bottom: 10px;
}

.profileButton {
  /* outline: green thin dotted; */
  border: none;
  margin: 0;
  background-color: #4A154B;
}

.profileButton:hover {
  cursor: pointer;
}

.profileIcon {
  margin: 0;
  color: white;
  border: 1px #4A154B;
  border-radius: 15px;
  padding: 0;
  font-size: 35px;
}

.logoutButton {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

.logoutButton:hover {
  cursor: pointer;
  background-color: rgb(89, 38, 89);
  color: white;
}

.hidden {
  display: none;
}
