.signup-form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .signup-form-container h1 {
    color: #4a154b;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
  }

  .signup-form-container form {
    display: flex;
    flex-direction: column;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    }


  .signup-form-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 16px;
  }

  .signup-form-container input {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    margin-bottom: 0px;
  }

  .signup-form-container input:focus {
    border: 1px solid #3f0e40;
    outline: none;
  }

  .signup-form-container button[type="submit"] {
    background-color: #3f0e40;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 24px;
    padding: 12px;
    width: 100%;
  }

  .signup-form-container button[type="submit"]:hover {
    background-color: #522e64;
  }
