.IndividualWorkspaceMainDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 92vh;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    box-sizing: border-box;
}
